body {
  max-width: 1000px;
  background: url(/assets/site/mapblue.jpg) repeat-x 0 0;
}

.left___div {
  height: 100%;
  left: 0;
  position: absolute;
  width: 80%;
  overflow-y: scroll;
}

.right___div {
  background-color: darkslategrey;
  height: 100%;
  position: absolute;
  right: 0;
  width: 20%;
}

.pct {
  max-width: 300px;
}


.div___left--portraits {
  float: left;
  font-size: 15px;
  margin: 9px 9px;
  padding: 20px 0px 0px 0px;
  text-align: center;
  width: 130px;
}